<footer>
<div class="footer">
<span style="float:left;">
<strong>Intangible Textual Heritage</strong> is an Open Access repository of quintessential ancient and modern texts of the human civilization maintained by the Open Access to Research Content Initiative.
</span>
<ul class="footer-links">
<li><a href="https://oarc.science">OARC</a></li>
<li><a href="https://github.com/oarcscience/ith.oarc.science">GitHub</a></li>
<li><a href="/credits.htm">Copyright</a></li>
<li><a href="/cnote.htm">Credits</a></li>
<li><a href="/tos.htm">Terms of Service</a></li>
<li><a href="/contact.htm">Contact</a></li>
<li><a href="/faq.htm">FAQ</a></li>
<li><a href="/search.htm">Search</a></li>
</ul>

</div>

</footer>
