 <head>
  <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
  <!---<link rel="stylesheet" href="/css/ista.css">
  {% if page.margcss=="margcss" %}<link rel="stylesheet" href="/css/marg.css">{% endif %}--->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="https://ith.oarc.science/rss/new.xml">
  <link rel="stylesheet" href="/assets/css/help.min.css">
  <link rel="stylesheet" href="/assets/css/highlight.css">
  <link rel="stylesheet" href="/assets/css/cookie-eu-banner.css">
  <link rel="stylesheet" href="/assets/css/custom.css">
  <meta name="description" content={{ page.description }}>
  <meta name="keywords" content={{ page.keywords }}>
  <title>{{ page.title }}</title>
 </head>

