<style type="text/css">
p.c54	{ margin-top:6pt; margin-bottom:6pt; text-indent:0in; text-align:center }
p.c53	{ margin-top:.5in; margin-bottom:6pt; text-indent:0in; text-align:center }
p.c52	{ margin-top:9pt; text-indent:0in; text-align:center }
p.c51	{ font-style:italic; text-indent:.25in }
span.c50	{ font-size:large; font-variant:small-caps }
span.c49	{ font-size:medium; text-transform:uppercase }
p.c48	{ margin-top:24pt; margin-bottom:24pt; text-indent:0in; text-align:center }
p.c47	{ margin-left:.5in; text-indent:-.3in }
p.c46	{ text-indent:.2in }
p.c45	{ margin-bottom:6pt; text-indent:19.8pt }
p.c44	{ text-indent:19.8pt }
p.c43	{ margin-top:6pt; text-indent:.2in }
p.c42	{ margin-bottom:6pt; margin-left:41.4pt; text-indent:-.3in }
p.c41	{ margin-bottom:6pt; margin-left:.55in; text-indent:-.3in }
p.c40	{ margin-left:.55in; text-indent:-.3in }
p.c39	{ margin-top:6pt; margin-left:.5in; text-indent:-.3in }
p.c38	{ margin-left:.2in }
p.c37	{ margin-top:.25in; text-indent:0in; text-align:center }
p.c36	{ margin-top:6pt; margin-bottom:9pt; text-indent:0in; text-align:center }
p.c35	{ margin-top:6pt; text-indent:0in; text-align:center }
p.c34	{ margin-top:6pt; text-indent:.25in }
p.c33	{ margin-top:6pt; text-align:right; text-indent:.25in }
p.c32	{ margin-top:9pt; margin-bottom:9pt; text-indent:0in; text-align:center }
p.c31	{ margin-top:14pt; text-indent:0in; text-align:center }
p.c30	{ margin-top:9pt; text-indent:0in; text-align:center }
p.c29	{ font-style:italic; margin-top:9pt; text-align:center }
p.c28	{ margin-top:12pt; margin-bottom:12pt; text-indent:0in; text-align:center; text-indent:.25in }
p.c27	{ margin-top:9pt; text-indent:13.5pt }
p.c23	{ margin-top:9pt; text-indent:.25in }
p.c22	{ font-style:italic; margin-left:.25in; margin-top:9pt; text-indent:-.25in }
p.c21	{ margin-top:.5in; text-indent:0in; text-align:center }
p.c20	{ text-align:right }
p.c19	{ margin-left:.25in; text-indent:-.25in }
p.c18	{ margin-top:9pt; margin-left:.25in; text-indent:-.25in }
p.c17	{ margin-top:12pt; margin-bottom:9pt; text-indent:0in; text-align:center }
p.c16	{ margin-top:12pt; text-indent:0in; text-align:center }
p.c15	{ margin-top:.5in; margin-bottom:9pt; text-indent:0in; text-align:center }
span.c14	{ font-size:x-large }
p.c13	{ margin-top:24pt; text-indent:0in; text-align:center }
span.c11	{ font-size:x-large; text-transform:uppercase }
p.c10	{ margin-top:30pt; text-indent:0in; text-align:center }
span.c9	{ text-transform:uppercase }
p.c8	{ text-indent:0in; text-align:center }
span.c7	{ font-size:large; text-transform:uppercase }
p.c6	{ margin-bottom:6pt; text-indent:0in; text-align:center }
p.c5	{ margin-bottom:12pt; text-indent:0in; text-align:center }
span.c4	{ font-size:large }
span.c3	{ font-size:xx-large }
span.c1	{ font-size:medium }
</style><style type="text/xcss">
<selector element="p" class="c54">
  <property name="margin-top" value="6pt"/>
  <property name="margin-bottom" value="6pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c53">
  <property name="margin-top" value=".5in"/>
  <property name="margin-bottom" value="6pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c52">
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c51">
  <property name="font-style" value="italic"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="span" class="c50">
  <property name="font-size" value="large"/>
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="span" class="c49">
  <property name="font-size" value="medium"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c48">
  <property name="margin-top" value="24pt"/>
  <property name="margin-bottom" value="24pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c47">
  <property name="margin-left" value=".5in"/>
  <property name="text-indent" value="-.3in"/>
</selector>
<selector element="p" class="c46">
  <property name="text-indent" value=".2in"/>
</selector>
<selector element="p" class="c45">
  <property name="margin-bottom" value="6pt"/>
  <property name="text-indent" value="19.8pt"/>
</selector>
<selector element="p" class="c44">
  <property name="text-indent" value="19.8pt"/>
</selector>
<selector element="p" class="c43">
  <property name="margin-top" value="6pt"/>
  <property name="text-indent" value=".2in"/>
</selector>
<selector element="p" class="c42">
  <property name="margin-bottom" value="6pt"/>
  <property name="margin-left" value="41.4pt"/>
  <property name="text-indent" value="-.3in"/>
</selector>
<selector element="p" class="c41">
  <property name="margin-bottom" value="6pt"/>
  <property name="margin-left" value=".55in"/>
  <property name="text-indent" value="-.3in"/>
</selector>
<selector element="p" class="c40">
  <property name="margin-left" value=".55in"/>
  <property name="text-indent" value="-.3in"/>
</selector>
<selector element="p" class="c39">
  <property name="margin-top" value="6pt"/>
  <property name="margin-left" value=".5in"/>
  <property name="text-indent" value="-.3in"/>
</selector>
<selector element="p" class="c38">
  <property name="margin-left" value=".2in"/>
</selector>
<selector element="p" class="c37">
  <property name="margin-top" value=".25in"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c36">
  <property name="margin-top" value="6pt"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c35">
  <property name="margin-top" value="6pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c34">
  <property name="margin-top" value="6pt"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c33">
  <property name="margin-top" value="6pt"/>
  <property name="text-align" value="right"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c32">
  <property name="margin-top" value="9pt"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c31">
  <property name="margin-top" value="14pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c30">
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c29">
  <property name="font-style" value="italic"/>
  <property name="margin-top" value="9pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c28">
  <property name="margin-top" value="12pt"/>
  <property name="margin-bottom" value="12pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c27">
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value="13.5pt"/>
</selector>
<selector element="p" class="c23">
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c22">
  <property name="font-style" value="italic"/>
  <property name="margin-left" value=".25in"/>
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c21">
  <property name="margin-top" value=".5in"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c20">
  <property name="text-align" value="right"/>
</selector>
<selector element="p" class="c19">
  <property name="margin-left" value=".25in"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c18">
  <property name="margin-top" value="9pt"/>
  <property name="margin-left" value=".25in"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c17">
  <property name="margin-top" value="12pt"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c16">
  <property name="margin-top" value="12pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c15">
  <property name="margin-top" value=".5in"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c14">
  <property name="font-size" value="x-large"/>
</selector>
<selector element="p" class="c13">
  <property name="margin-top" value="24pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c11">
  <property name="font-size" value="x-large"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c10">
  <property name="margin-top" value="30pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c9">
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c8">
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c7">
  <property name="font-size" value="large"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c6">
  <property name="margin-bottom" value="6pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c5">
  <property name="margin-bottom" value="12pt"/>
  <property name="text-indent" value="0in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c4">
  <property name="font-size" value="large"/>
</selector>
<selector element="span" class="c3">
  <property name="font-size" value="xx-large"/>
</selector>
<selector element="span" class="c1">
  <property name="font-size" value="medium"/>
</selector>
</style>