<style type="text/css">
.MsoEndnoteText	{ font-size:x-small }
.MsoEndnoteTextc59	{ margin-top:6pt; text-indent:0.5in; font-size:x-small }
.MsoEndnoteTextc58	{ margin-bottom:6pt; text-indent:0.4in; font-size:x-small }
.MsoEndnoteTextc57	{ text-indent:0.4in; font-size:x-small }
.MsoEndnoteTextc56	{ margin-top:6pt; text-indent:1.3in; font-size:x-small }
.MsoEndnoteTextc53	{ font-style:italic; font-size:x-small }
.MsoEndnoteTextc52	{ margin-top:6pt; font-size:x-small }
.MsoEndnoteTextc25	{ margin-bottom:6pt; font-size:x-small }
p.c50	{ margin-top:24pt; text-align:center }
p.c49	{ margin-top:12pt; margin-left:229.5pt; text-indent:-229.5pt }
p.c48	{ margin-left:229.5pt; text-indent:-229.5pt }
p.c47	{ margin-top:9pt }
p.c46	{ margin-top:.25in; margin-bottom:9pt; text-align:center }
p.c43	{ margin-bottom:9pt }
p.c42	{ margin-right:.25in }
p.c41	{ margin-top:9pt; text-indent:13.5pt }
p.c40	{ margin-top:9pt; text-align:center }
span.c39	{ font-size:medium; font-variant:small-caps }
p.c38	{ font-style:italic; margin-left:.25in; margin-top:9pt; text-indent:-.25in }
p.c37	{ margin-right:.25in; margin-bottom:6pt; margin-left:.25in; text-indent:-.25in }
span.c36	{ font-size:x-large; font-variant:small-caps }
p.c35	{ margin-top:9pt; margin-left:.25in; text-indent:-.25in }
span.c34	{ font-size:large; font-variant:small-caps }
p.c33	{ margin-top:12pt; text-align:center }
p.c32	{ margin-top:.25in; text-align:center }
p.c31	{ margin-top:60pt; text-align:center }
span.c30	{ font-size:x-large; text-transform:uppercase }
p.c29	{ margin-top:.5in; text-align:center }
p.c28	{ margin-top:6pt; text-indent:.25in }
p.c25	{ margin-bottom:6pt; text-indent:.25in }
p.c24	{ margin-top:12pt; margin-bottom:6pt; text-align:center }
p.c22	{ margin-top:.25in; margin-bottom:6pt; text-align:center }
p.c21	{ margin-top:6pt; margin-bottom:6pt; text-align:center }
span.c20	{ font-size:large; text-transform:uppercase }
p.c19	{ margin-top:9pt; margin-bottom:9pt; text-align:center }
span.c18	{ font-size:medium; text-transform:uppercase }
span.c17	{ font-size:x-large }
p.c16	{ margin-top:.5in; margin-bottom:9pt; text-align:center }
span.c12	{ font-variant:small-caps }
p.c11	{ margin-top:3pt; margin-right:.5in; text-align:right; text-indent:.25in }
p.c10	{ text-indent:.25in }
p.c9	{ margin-top:9pt; text-indent:.25in }
span.c8	{ text-transform:uppercase }
p.c7	{ margin-bottom:6pt; text-align:center }
p.c6	{ margin-bottom:12pt; text-align:center }
p.c5	{ margin-top:6pt; text-align:center }
span.c4	{ font-size:large }
span.c3	{ font-size:xx-large }
p.c2	{ text-align:center }
span.c1	{ font-size:medium }
</style><style type="text/xcss">
<selector class="MsoEndnoteText">
  <property name="font-size" value="x-small"/>
</selector>
<selector class="MsoEndnoteTextc59">
  <property name="margin-top" value="6pt"/>
  <property name="text-indent" value="0.5in"/>
  <property name="font-size" value="x-small"/>
</selector>
<selector class="MsoEndnoteTextc58">
  <property name="margin-bottom" value="6pt"/>
  <property name="text-indent" value="0.4in"/>
  <property name="font-size" value="x-small"/>
</selector>
<selector class="MsoEndnoteTextc57">
  <property name="text-indent" value="0.4in"/>
  <property name="font-size" value="x-small"/>
</selector>
<selector class="MsoEndnoteTextc56">
  <property name="margin-top" value="6pt"/>
  <property name="text-indent" value="1.3in"/>
  <property name="font-size" value="x-small"/>
</selector>
<selector class="MsoEndnoteTextc53">
  <property name="font-style" value="italic"/>
  <property name="font-size" value="x-small"/>
</selector>
<selector class="MsoEndnoteTextc52">
  <property name="margin-top" value="6pt"/>
  <property name="font-size" value="x-small"/>
</selector>
<selector class="MsoEndnoteTextc25">
  <property name="margin-bottom" value="6pt"/>
  <property name="font-size" value="x-small"/>
</selector>
<selector element="p" class="c50">
  <property name="margin-top" value="24pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c49">
  <property name="margin-top" value="12pt"/>
  <property name="margin-left" value="229.5pt"/>
  <property name="text-indent" value="-229.5pt"/>
</selector>
<selector element="p" class="c48">
  <property name="margin-left" value="229.5pt"/>
  <property name="text-indent" value="-229.5pt"/>
</selector>
<selector element="p" class="c47">
  <property name="margin-top" value="9pt"/>
</selector>
<selector element="p" class="c46">
  <property name="margin-top" value=".25in"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c43">
  <property name="margin-bottom" value="9pt"/>
</selector>
<selector element="p" class="c42">
  <property name="margin-right" value=".25in"/>
</selector>
<selector element="p" class="c41">
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value="13.5pt"/>
</selector>
<selector element="p" class="c40">
  <property name="margin-top" value="9pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c39">
  <property name="font-size" value="medium"/>
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="p" class="c38">
  <property name="font-style" value="italic"/>
  <property name="margin-left" value=".25in"/>
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c37">
  <property name="margin-right" value=".25in"/>
  <property name="margin-bottom" value="6pt"/>
  <property name="margin-left" value=".25in"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="span" class="c36">
  <property name="font-size" value="x-large"/>
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="p" class="c35">
  <property name="margin-top" value="9pt"/>
  <property name="margin-left" value=".25in"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="span" class="c34">
  <property name="font-size" value="large"/>
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="p" class="c33">
  <property name="margin-top" value="12pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c32">
  <property name="margin-top" value=".25in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c31">
  <property name="margin-top" value="60pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c30">
  <property name="font-size" value="x-large"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c29">
  <property name="margin-top" value=".5in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c28">
  <property name="margin-top" value="6pt"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c25">
  <property name="margin-bottom" value="6pt"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c24">
  <property name="margin-top" value="12pt"/>
  <property name="margin-bottom" value="6pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c22">
  <property name="margin-top" value=".25in"/>
  <property name="margin-bottom" value="6pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c21">
  <property name="margin-top" value="6pt"/>
  <property name="margin-bottom" value="6pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c20">
  <property name="font-size" value="large"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c19">
  <property name="margin-top" value="9pt"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c18">
  <property name="font-size" value="medium"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="span" class="c17">
  <property name="font-size" value="x-large"/>
</selector>
<selector element="p" class="c16">
  <property name="margin-top" value=".5in"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c12">
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="p" class="c11">
  <property name="margin-top" value="3pt"/>
  <property name="margin-right" value=".5in"/>
  <property name="text-align" value="right"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c10">
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c9">
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="span" class="c8">
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c7">
  <property name="margin-bottom" value="6pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c6">
  <property name="margin-bottom" value="12pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c5">
  <property name="margin-top" value="6pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c4">
  <property name="font-size" value="large"/>
</selector>
<selector element="span" class="c3">
  <property name="font-size" value="xx-large"/>
</selector>
<selector element="p" class="c2">
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c1">
  <property name="font-size" value="medium"/>
</selector>
</style>