
.3rdLevelAllCap12Bld23	{ font-weight:bold; text-align:center; text-transform:uppercase }
.BOOK-CHAP-BLU-24-CEN10	{ font-size:240%; text-align:center; text-transform:uppercase }
.BOOK-CHAP-GR-16-CEN25	{ font-size:160%; text-align:center }
.HDG-C-Gr-16-Pref24	{ font-size:160%; text-align:center; text-transform:uppercase }
.Normal04	{ font-size:280%; font-weight:bold; text-align:center }
.Normal05	{ font-size:160%; font-weight:bold; text-align:center }
.Normal06	{ font-size:240%; font-weight:bold; text-align:center }
.Normal07	{ font-weight:bold; text-align:center }
.Normal08	{ font-size:200%; font-weight:bold; text-align:center }
.PoetryLast-DkBlu-11-Cent01	{ font-style:italic; font-weight:bold; text-align:center }
.PoetryLast-DkBlu-11-Cent03	{ font-weight:bold; text-align:center }
.PoetryLast-DkBlu-11-Cent21	{ font-weight:bold; text-align:center }
.PoetryLast-DkBlu-11-Cent22	{ font-style:italic; font-weight:bold; text-align:center }
.TableCaption11	{ font-size:140%; font-variant:small-caps; font-weight:bold; text-align:center }
.TableText20	{ text-align:justify }
.s01	{ font-style:italic; font-weight:bold }

<selector class="3rdLevelAllCap12Bld23">
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector class="BOOK-CHAP-BLU-24-CEN10">
  <property name="font-size" value="240%"/>
  <property name="text-align" value="center"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector class="BOOK-CHAP-GR-16-CEN25">
  <property name="font-size" value="160%"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="HDG-C-Gr-16-Pref24">
  <property name="font-size" value="160%"/>
  <property name="text-align" value="center"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector class="Normal04">
  <property name="font-size" value="280%"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="Normal05">
  <property name="font-size" value="160%"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="Normal06">
  <property name="font-size" value="240%"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="Normal07">
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="Normal08">
  <property name="font-size" value="200%"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="PoetryLast-DkBlu-11-Cent01">
  <property name="font-style" value="italic"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="PoetryLast-DkBlu-11-Cent03">
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="PoetryLast-DkBlu-11-Cent21">
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="PoetryLast-DkBlu-11-Cent22">
  <property name="font-style" value="italic"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="TableCaption11">
  <property name="font-size" value="140%"/>
  <property name="font-variant" value="small-caps"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="TableText20">
  <property name="text-align" value="justify"/>
</selector>
<selector class="s01">
  <property name="font-style" value="italic"/>
  <property name="font-weight" value="bold"/>
</selector>
