<!DOCTYPE html>
<html>
{% include head.html %}

<body>
<div id="container" class="help page help-home background">
{% include header.html %}
{% include secondheader.html %}

<div class="panel main">
{% include leftpanel.html %}
<div class="panel middle">
<div class="grid grid-responsive-12">

<div class="row" id="introduction">
<div class="col12">
<div class="breadcrumbs">
<ul>{% assign categories=page.categories | replace: "<BR>", "" | split: "&nbsp; " %}{% for category in categories %}<li><div class="main-cell">{{category}}</div></li>{% endfor %}</ul>
</div>
</div>
</div>

<div class="row"><div class="col12"><h1>{{ page.titleh1 }}</h1></div></div>
<img src="{{ page.pathh1 }}" align="right" vspace="7" hspace="7" alt="{{ page.alttext1 }}" height="256">


{{ content }}

</div>
</div>
</div>


{% include footer.html%}
</div>

 </body>
</html>
