<style type="text/css">
p.c59	{ margin-left:.25in; text-indent:-.25in }
p.c58	{ font-style:italic; margin-left:.25in; text-indent:-.25in }
p.c56	{ margin-top:6pt; text-indent:1.7in }
p.c55	{ text-indent:.5in }
p.c54	{ margin-top:9pt; text-indent:.5in }
p.c53	{ margin-top:9pt; margin-left:.25in; text-indent:-.25in }
p.c48	{ margin-left:.25in; font-style:italic; margin-top:9pt; text-indent:-.25in }
p.c47	{ margin-top:9pt; margin-bottom:9pt; text-align:center }
p.c44	{ margin-top:24pt; text-align:center }
span.c41	{ font-variant:small-caps }
p.c39	{ margin-top:.25in; margin-bottom:12pt; text-align:center; text-indent:.25in }
p.c38	{ font-style:italic; margin-top:12pt; text-align:center }
span.c37	{ font-size:medium; font-variant:small-caps }
p.c36	{ margin-top:12pt; text-align:center }
span.c35	{ font-size:large; font-variant:small-caps }
p.c34	{ font-style:italic; text-indent:.25in }
p.c33	{ margin-top:6pt; text-align:right; text-indent:.25in }
p.c32	{ margin-top:.5in; margin-bottom:9pt; text-align:center }
p.c31	{ margin-top:12pt; margin-bottom:9pt; text-align:center }
span.c30	{ text-transform:uppercase }
span.c29	{ font-size:large; text-transform:uppercase }
p.c28	{ margin-top:60pt; text-align:center }
p.c27	{ margin-top:.25in; text-align:center }
span.c26	{ font-size:x-large; text-transform:uppercase }
span.c25	{ font-size:medium; text-transform:uppercase }
p.c24	{ margin-top:.5in; text-align:center }
span.c23	{ font-size:large; text-transform:uppercase }
span.c20	{ font-variant:small-caps }
span.c18	{ font-variant:small-caps }
span.c16	{ text-transform:uppercase }
p.c14	{ text-align:right; text-indent:.25in }
p.c13	{ text-indent:.25in }
p.c12	{ margin-top:9pt; text-indent:.25in }
span.c11	{ font-variant:small-caps }
p.c10	{ margin-top:.5in; margin-bottom:6pt; text-align:center }
span.c9	{ font-size:x-large }
p.c8	{ margin-top:6pt; text-align:center }
p.c7	{ margin-bottom:6pt; text-align:center }
p.c6	{ margin-bottom:12pt; text-align:center }
span.c4	{ font-size:large }
span.c3	{ font-size:xx-large }
p.c2	{ text-align:center }
span.c1	{ font-size:medium }
</style><style type="text/xcss">
<selector element="p" class="c59">
  <property name="margin-left" value=".25in"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c58">
  <property name="font-style" value="italic"/>
  <property name="margin-left" value=".25in"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c56">
  <property name="margin-top" value="6pt"/>
  <property name="text-indent" value="1.7in"/>
</selector>
<selector element="p" class="c55">
  <property name="text-indent" value=".5in"/>
</selector>
<selector element="p" class="c54">
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value=".5in"/>
</selector>
<selector element="p" class="c53">
  <property name="margin-top" value="9pt"/>
  <property name="margin-left" value=".25in"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c48">
  <property name="margin-left" value=".25in"/>
  <property name="font-style" value="italic"/>
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c47">
  <property name="margin-top" value="9pt"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c44">
  <property name="margin-top" value="24pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c41">
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="p" class="c39">
  <property name="margin-top" value=".25in"/>
  <property name="margin-bottom" value="12pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c38">
  <property name="font-style" value="italic"/>
  <property name="margin-top" value="12pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c37">
  <property name="font-size" value="medium"/>
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="p" class="c36">
  <property name="margin-top" value="12pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c35">
  <property name="font-size" value="large"/>
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="p" class="c34">
  <property name="font-style" value="italic"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c33">
  <property name="margin-top" value="6pt"/>
  <property name="text-align" value="right"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c32">
  <property name="margin-top" value=".5in"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c31">
  <property name="margin-top" value="12pt"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c30">
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="span" class="c29">
  <property name="font-size" value="large"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c28">
  <property name="margin-top" value="60pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c27">
  <property name="margin-top" value=".25in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c26">
  <property name="font-size" value="x-large"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="span" class="c25">
  <property name="font-size" value="medium"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c24">
  <property name="margin-top" value=".5in"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c23">
  <property name="font-size" value="large"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="span" class="c20">
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="span" class="c18">
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="span" class="c16">
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c14">
  <property name="text-align" value="right"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c13">
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c12">
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="span" class="c11">
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="p" class="c10">
  <property name="margin-top" value=".5in"/>
  <property name="margin-bottom" value="6pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c9">
  <property name="font-size" value="x-large"/>
</selector>
<selector element="p" class="c8">
  <property name="margin-top" value="6pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c7">
  <property name="margin-bottom" value="6pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="p" class="c6">
  <property name="margin-bottom" value="12pt"/>
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c4">
  <property name="font-size" value="large"/>
</selector>
<selector element="span" class="c3">
  <property name="font-size" value="xx-large"/>
</selector>
<selector element="p" class="c2">
  <property name="text-align" value="center"/>
</selector>
<selector element="span" class="c1">
  <property name="font-size" value="medium"/>
</selector>
</style>