
.3rdLevelAllCap12Bld24	{ font-weight:bold; text-align:center; text-transform:uppercase }
.BOOK-CHAP-BLU-24-CEN25	{ font-size:240%; text-align:center; text-transform:uppercase }
.HDG-C-Gr-16-Pref13	{ font-size:160%; text-align:center; text-transform:uppercase }
.Normal08	{ font-size:240%; font-weight:bold; text-align:center }
.Normal09	{ font-size:160%; font-weight:bold; text-align:center }
.Normal10	{ font-weight:bold; text-align:center }
.Normal11	{ font-size:80%; font-weight:bold; text-align:center }
.PoetryLast-DkBlu-11-Cent04	{ font-style:italic; font-weight:bold; text-align:center }
.PoetryLast-DkBlu-11-Cent05	{ font-weight:bold; text-align:center }
.PoetryLast-DkBlu-11-Cent22	{ font-style:italic; font-weight:bold; text-align:center }
.TableCaption14	{ font-size:140%; font-variant:small-caps; font-weight:bold; text-align:center }
.s33	{ font-style:italic; font-weight:bold }

<selector class="3rdLevelAllCap12Bld24">
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector class="BOOK-CHAP-BLU-24-CEN25">
  <property name="font-size" value="240%"/>
  <property name="text-align" value="center"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector class="HDG-C-Gr-16-Pref13">
  <property name="font-size" value="160%"/>
  <property name="text-align" value="center"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector class="Normal08">
  <property name="font-size" value="240%"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="Normal09">
  <property name="font-size" value="160%"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="Normal10">
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="Normal11">
  <property name="font-size" value="80%"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="PoetryLast-DkBlu-11-Cent04">
  <property name="font-style" value="italic"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="PoetryLast-DkBlu-11-Cent05">
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="PoetryLast-DkBlu-11-Cent22">
  <property name="font-style" value="italic"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="TableCaption14">
  <property name="font-size" value="140%"/>
  <property name="font-variant" value="small-caps"/>
  <property name="font-weight" value="bold"/>
  <property name="text-align" value="center"/>
</selector>
<selector class="s33">
  <property name="font-style" value="italic"/>
  <property name="font-weight" value="bold"/>
</selector>
