<style type="text/css">
span.MsoEndnoteReference	{ vertical-align:super }
p.c59	{ text-indent:4.5in }
p.c58	{ text-indent:2.9in }
p.c55	{ margin-top:9pt; margin-bottom:9pt; text-align:center; text-indent:0in }
p.c54	{ margin-top:9pt; text-indent:13.7pt }
p.c53	{ font-style:italic; margin-top:.5in; text-align:center; text-indent:0in }
p.c52	{ margin-left:63pt; text-indent:-27pt }
p.c51	{ margin-top:12pt; text-align:center; text-indent:0in; text-indent:.25in }
p.c50	{ font-style:italic; margin-top:9pt; text-align:center; text-indent:0in }
p.c49	{ margin-left:.25in }
p.c48	{ margin-top:9pt; margin-left:.25in }
span.c47	{ text-transform:uppercase }
p.c46	{ margin-top:9pt; margin-left:.25in; text-align:center; text-indent:0in }
span.c45	{ font-size:medium; font-variant:small-caps }
p.c44	{ font-style:italic; margin-left:.25in; margin-top:9pt; text-indent:-.25in }
p.c43	{ margin-bottom:6pt; text-indent:.25in }
p.c42	{ margin-left:.5in; text-indent:-.25in }
p.c41	{ margin-top:6pt; margin-left:.45in; text-indent:-.25in }
p.c40	{ margin-top:9pt; text-align:center; text-indent:0in }
p.c39	{ font-style:italic; text-indent:.25in }
p.c36	{ margin-top:9pt }
p.c35	{ font-style:italic; margin-top:9pt; text-indent:.25in }
p.c34	{ margin-top:12pt; margin-left:.25in; text-align:center; text-indent:0in }
p.c31	{ margin-top:9pt; text-align:center; text-indent:0in }
p.c30	{ margin-top:9pt; margin-left:.25in; text-indent:-.25in }
p.c28	{ font-style:italic; margin-top:12pt; text-align:center; text-indent:0in }
span.c26	{ font-size:medium; text-transform:uppercase }
span.c25	{ font-size:medium; font-variant:small-caps; text-transform:uppercase }
p.c24	{ margin-left:2.5in }
p.c23	{ margin-left:2.2in; text-indent:-.2in }
p.c22	{ margin-top:.25in; margin-bottom:9pt; text-align:center; text-indent:0in }
p.c21	{ margin-top:.25in; text-align:center; text-indent:0in }
p.c20	{ margin-top:6pt; text-align:right; text-indent:.25in }
p.c19	{ text-indent:.25in }
p.c18	{ margin-top:9pt; text-indent:.25in }
p.c17	{ margin-top:.5in; margin-bottom:9pt; text-align:center; text-indent:0in }
span.c16	{ font-size:x-large }
p.c15	{ margin-top:24pt; text-align:center; text-indent:0in }
p.c14	{ margin-top:12pt; text-align:center; text-indent:0in }
p.c13	{ margin-top:50pt; text-align:center; text-indent:0in }
p.c12	{ margin-top:20pt; text-align:center; text-indent:0in }
span.c11	{ font-size:large; text-transform:uppercase }
p.c10	{ margin-top:102pt; text-align:center; text-indent:0in }
span.c9	{ font-size:x-large; text-transform:uppercase }
p.c8	{ margin-bottom:6pt; text-align:center; text-indent:0in }
p.c7	{ margin-bottom:12pt; text-align:center; text-indent:0in }
p.c5	{ font-style:italic; text-align:center; text-indent:0in }
span.c4	{ font-size:large }
span.c3	{ font-size:xx-large }
p.c2	{ text-align:center; text-indent:0in }
span.c1	{ font-size:medium }
</style><style type="text/xcss">
<selector element="span" class="MsoEndnoteReference">
  <property name="vertical-align" value="super"/>
</selector>
<selector element="p" class="c59">
  <property name="text-indent" value="4.5in"/>
</selector>
<selector element="p" class="c58">
  <property name="text-indent" value="2.9in"/>
</selector>
<selector element="p" class="c55">
  <property name="margin-top" value="9pt"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c54">
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value="13.7pt"/>
</selector>
<selector element="p" class="c53">
  <property name="font-style" value="italic"/>
  <property name="margin-top" value=".5in"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c52">
  <property name="margin-left" value="63pt"/>
  <property name="text-indent" value="-27pt"/>
</selector>
<selector element="p" class="c51">
  <property name="margin-top" value="12pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c50">
  <property name="font-style" value="italic"/>
  <property name="margin-top" value="9pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c49">
  <property name="margin-left" value=".25in"/>
</selector>
<selector element="p" class="c48">
  <property name="margin-top" value="9pt"/>
  <property name="margin-left" value=".25in"/>
</selector>
<selector element="span" class="c47">
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c46">
  <property name="margin-top" value="9pt"/>
  <property name="margin-left" value=".25in"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="span" class="c45">
  <property name="font-size" value="medium"/>
  <property name="font-variant" value="small-caps"/>
</selector>
<selector element="p" class="c44">
  <property name="font-style" value="italic"/>
  <property name="margin-left" value=".25in"/>
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c43">
  <property name="margin-bottom" value="6pt"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c42">
  <property name="margin-left" value=".5in"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c41">
  <property name="margin-top" value="6pt"/>
  <property name="margin-left" value=".45in"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c40">
  <property name="margin-top" value="9pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c39">
  <property name="font-style" value="italic"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c36">
  <property name="margin-top" value="9pt"/>
</selector>
<selector element="p" class="c35">
  <property name="font-style" value="italic"/>
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c34">
  <property name="margin-top" value="12pt"/>
  <property name="margin-left" value=".25in"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c31">
  <property name="margin-top" value="9pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c30">
  <property name="margin-top" value="9pt"/>
  <property name="margin-left" value=".25in"/>
  <property name="text-indent" value="-.25in"/>
</selector>
<selector element="p" class="c28">
  <property name="font-style" value="italic"/>
  <property name="margin-top" value="12pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="span" class="c26">
  <property name="font-size" value="medium"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="span" class="c25">
  <property name="font-size" value="medium"/>
  <property name="font-variant" value="small-caps"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c24">
  <property name="margin-left" value="2.5in"/>
</selector>
<selector element="p" class="c23">
  <property name="margin-left" value="2.2in"/>
  <property name="text-indent" value="-.2in"/>
</selector>
<selector element="p" class="c22">
  <property name="margin-top" value=".25in"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c21">
  <property name="margin-top" value=".25in"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c20">
  <property name="margin-top" value="6pt"/>
  <property name="text-align" value="right"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c19">
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c18">
  <property name="margin-top" value="9pt"/>
  <property name="text-indent" value=".25in"/>
</selector>
<selector element="p" class="c17">
  <property name="margin-top" value=".5in"/>
  <property name="margin-bottom" value="9pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="span" class="c16">
  <property name="font-size" value="x-large"/>
</selector>
<selector element="p" class="c15">
  <property name="margin-top" value="24pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c14">
  <property name="margin-top" value="12pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c13">
  <property name="margin-top" value="50pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c12">
  <property name="margin-top" value="20pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="span" class="c11">
  <property name="font-size" value="large"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c10">
  <property name="margin-top" value="102pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="span" class="c9">
  <property name="font-size" value="x-large"/>
  <property name="text-transform" value="uppercase"/>
</selector>
<selector element="p" class="c8">
  <property name="margin-bottom" value="6pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c7">
  <property name="margin-bottom" value="12pt"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="p" class="c5">
  <property name="font-style" value="italic"/>
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="span" class="c4">
  <property name="font-size" value="large"/>
</selector>
<selector element="span" class="c3">
  <property name="font-size" value="xx-large"/>
</selector>
<selector element="p" class="c2">
  <property name="text-align" value="center"/>
  <property name="text-indent" value="0in"/>
</selector>
<selector element="span" class="c1">
  <property name="font-size" value="medium"/>
</selector>
</style>